<!--Navbar section -->

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Habit Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
     
      <form class="d-flex ms-auto">
        <button lass="btn btn-secondary my-2 my-sm-0" routerLink="/login" type="button">log out</button>
       
       
        
      </form>
    </div>
  </div>
</nav>



<div class="habit-stats-container">
  <div class="day-selector">
    <select (change)="onDayChange($event)">
      <option value="" disabled selected>Seleccione un día</option>
      <option *ngFor="let day of daysOfWeek" [value]="day">{{ day }}</option>
    </select>
  </div>

  <div class="habits-list" *ngIf="selectedDay">
    <h3>Hábitos para {{ selectedDay }}:</h3>
    <ul>
      <li *ngFor="let habit of getFilteredHabits()">
        <input type="checkbox" [(ngModel)]="habit.state">
        <strong>{{ habit.name }}</strong>: {{ habit.description }}
      </li>
    </ul>
  </div>

  <div class="weekly-calendar">
    <h3>Calendario Semanal:</h3>
    <div class="calendar-grid">
      <div *ngFor="let day of daysOfWeek" class="calendar-day" [class.has-habits]="hasHabits(day)">
        <h4>{{ day }}</h4>
        <ul>
          <li *ngFor="let habit of getHabitsForDay(day)">
            <input type="checkbox" [(ngModel)]="habit.state">
            <strong>{{ habit.name }}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
