<!--Navbar section -->

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Habit Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
     
      <form class="d-flex ms-auto">
        <button lass="btn btn-secondary my-2 my-sm-0" routerLink="/login" type="button">log out</button>
       
       
        
      </form>
    </div>
  </div>
</nav>


<div class="container">
  <div class="title">
    <h4>Lista de Hábitos</h4>
  </div>
  <div class="title-buttons">
    <button type="button" class="btn btn-primary" routerLink="/add">Agregar</button>
    <button type="button" class="btn btn-success" routerLink="/stats">DashBoard de Hábitos</button>
  </div>
  
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>
        <th scope="col">Importancia</th>
        <th scope="col">Día</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let habit of habits" >
        <td>{{ habit.name}}</td>
        <td>{{ habit.description}}</td>
        <td>{{ habit.type}}</td>
        <td>{{ habit.level_priority}}</td>
        <td>{{ habit.nameDay}}</td>
        <td>
          <button type="button" class="btn btn-info btn-sm" [routerLink]="['/edit', habit.id]" >Editar</button>
          <button type="button" class="btn btn-danger btn-sm ms-2" (click)="deleteHabit(habit.id)">Eliminar</button>
        </td>
      </tr>
      <div *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>
    </tbody>
  </table>
</div>