<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Lista de Hábitos</h4>
    <button type="button" class="btn btn-primary" routerLink="/add">Agregar</button>
    <button type="button" class="btn btn-primary" routerLink="/stats">DashBoard de Hábitos</button>
  </div>
  
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>
        <th scope="col">Importancia</th>
        <th scope="col">Día</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let habit of habits" >
        <td>{{ habit.name}}</td>
        <td>{{ habit.description}}</td>
        <td>{{ habit.type}}</td>
        <td>{{ habit.level_priority}}</td>
        <td>{{ habit.nameDay}}</td>
        <td>
          <button type="button" class="btn btn-info btn-sm" [routerLink]="['/edit', habit.id]" >Editar</button>
          <button type="button" class="btn btn-danger btn-sm ms-2" (click)="deleteHabit(habit.id)">Eliminar</button>
        </td>
      </tr>
      <div *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>
    </tbody>
  </table>
</div>