

<div class="d-flex justify-content-center align-items-center" style="height: 20vh;"></div>
<div class="col-lg-4 offset-lg-4">


<div class="card border-primary mb-3 mt-4" style="max-width: 20rem;">
    <div class="card-header text-center">Crea una cuenta</div>
    <div class="card-body">

        <div>
            <form>
            <input type="text" class="form-control" id="ingresar email" placeholder="Ingresa tu email">
           
            <input type="text" class="form-control mt-2" id="ingresa password" placeholder="Ingresa una contraseña">

            <input type="text" class="form-control mt-2" id="repetir password" placeholder="Repite la contraseña">
            
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary mt-2" routerLink="/">Crear</button>                
              </div>
              <p class="mt-2">¿Ya tienes cuenta? <a href="#" routerLink="/login">Inicia sesión</a></p>
              

           </form>

          </div>
      
    </div>

</div>

</div>



