
<div class="col-lg-4 offset-lg-4">


    <div class="card text-white bg-primary mb-3 mt-2" style="max-width: 25rem;">
        <div class="card-header text-center">Ingrese nuevo hábito</div>
        <div class="card-body">
<form [formGroup]="formNewHabit" (ngSubmit)="addHabit()">

    <input formControlName="name" type="text" class="form-control" placeholder="Ingrese nombre del hábito	">
   
    
    <input formControlName="description" type="text" class="form-control mt-2" placeholder="Ingrese descripción breve">
    <select formControlName="category" type="text" class="form-control mt-2" >
        <option value="" disabled selected>Seleccione una categoría</option>
        <option value="Salud">Salud</option>
        <option value="Productividad">Productividad</option>
        <option value="Bienestar">Bienestar</option>
        
      </select>
    <select formControlName="priority" type="text" class="form-control mt-2" >
        <option value="" disabled selected>Asigne una prioridad</option>
        <option value="Alta">Alta</option>
        <option value="Media">Media</option>
        <option value="Baja">Baja</option>
        
      </select>

   

    <div class="mt-2">
        <div class="custom-select-container">
            <div class="custom-select" tabindex="0">
                <span class="custom-select-placeholder">Escoge los días de la semana</span>
                <div class="custom-select-options">
                    <div *ngFor="let day of daysOfWeek">
                        <label>
                            <input type="checkbox" [value]="day" (change)="onDayChange($event)">{{ day }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="formNewHabit.get('daysOfWeek')?.errors?.['required']">Debe seleccionar al menos un día.</div>
    
    
        
    

   

        <div class="row mt-2 text-center">


            <div class="col-lg-6">
                <button [disabled]="formNewHabit.invalid" type="submit" class="btn btn-info">Guardar</button>
            </div>

            <div class="col-lg-6">
                <button  type="button" class="btn btn-secondary" routerLink="/" >Cancelar</button>

            </div>

        </div>


    

</form>


        
        </div>
      </div>


</div>




